fastapi
uvicorn[standard]
sqlalchemy
alembic
asyncpg
redis
celery[redis]
celery[beat]
passlib[bcrypt]
python-jose
python-multipart
psycopg2-binary
python-dotenv
loguru
setuptools
geoalchemy2
shapely
httpx
geopy
geopandas
osmnx
rtree
pywebpush